@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        - Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
        - Lists
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Hero
        - Navigation
        - Footer
        - Anchors
        - Systems
        - Testing
        - Layout
        - Benefits
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class   
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    2.0 - TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----------- UNIVERSAL ------------- */

* {
        font-family: 'Roboto Slab', 'Georgia', serif;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

@media screen and (min-width: 768px) {

        img {
                padding-top: 1em;
                padding-bottom: .5em;
              }
}

@media screen and (min-width: 1024px) {


        img {
                padding-top: 1em;
                padding-bottom: .5em;
              }
}

/* ----- TYPOGRAPHY ----- */

@media screen and (min-width: 1024px) {

        h1 {
                font-size: 6rem;
                line-height: .5em;
        }
}

h1,
h2 {
        font-family: 'Pacifico', 'Arial', sans-serif;    
}

h1,
h2,
h3 {
        text-transform: lowercase;
}

h1,
h2,
h3,
a {
        color: #00B0A3;
}

h1 {
        font-size: 4.5rem;
        font-weight: 400;
        text-align: center;
}

h2 {
        font-size: 2.5rem;
        font-weight: 400;
}

h3 {
        margin: 0;
        font-weight: 500;
        font-size: 1.4rem;
}

p {
        line-height: 1.9rem;
        color:#00515D;
        /* margin: .6em 0 2em 0; */
        font-size: 1.1rem;
}

/* ----- LISTS ----- */

li {
        color: #00515D;
}

ul {
        padding-left: 0;
        line-height: 2rem;
        margin-top: 0;
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 97%;
}

@media screen and (min-width: 768px) {

        .wrapper {
            width: 85%;
        }
}

@media screen and (min-width: 1024px) {

        .wrapper {
            width: 80%;
        }
}

.row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}

[class*='col-'] {
        padding: 8px;
}


.col-sm-1 {
    width: calc(100% * 1 / 12);
}
.col-sm-2 {
    width: calc(100% * 2 / 12);
}
.col-sm-3 {
    width: calc(100% * 3 / 12);
}
.col-sm-4 {
    width: calc(100% * 4 / 12);
}
.col-sm-5 {
    width: calc(100% * 5 / 12);
}
.col-sm-6 {
    width: calc(100% * 6 / 12);
}
.col-sm-7 {
    width: calc(100% * 7 / 12);
}
.col-sm-8 {
    width: calc(100% * 8 / 12);
}
.col-sm-9 {
    width: calc(100% * 9 / 12);
}
.col-sm-10 {
    width: calc(100% * 10 / 12);
}
.col-sm-11 {
    width: calc(100% * 11 / 12);
}
.col-sm-12 {
    width: calc(100% * 12 / 12);
}


@media screen and (min-width: 768px) {

    [class*='col-'] {
        padding: 8px;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }
    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}


@media screen and (min-width: 1024px) {

    [class*='col-'] {
        padding: 8px;
    }

    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }
    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */


body > header > div,
header .wrapper div:last-child,
.wrapper,
#benefits > header,
#benefits > header + p  {
        margin: 0 auto;
}

header .wrapper div:last-child p,
#layout > section:last-child {
        text-align: center;
}

#layout > section:last-child,
header > div:last-child,
a:hover {
        background-color:  #FFD8DB;
}

/* ----- HERO ----- */

@media screen and (min-width: 768px) {

        header a {
                font-size: 1rem;
                padding-right: 0;
                padding-left: 1.9em;
        }

        h1 + p {
                font-size: 40px;
        }
}


@media screen and (min-width: 1024px) {


        header a {
                font-size: 1.1rem;
                padding-right: 0;
                padding-left: 1.9em;
        }


        header div div {
                padding: 5em;
        }

        img {
                width: 6em;
                padding-top: 1em;
                padding-bottom: .5em;
              }
}

header div .wrapper {
        background: url("../img/bg-balloons.jpg") no-repeat;
        -moz-background-size: contain;
        -webkit-background-size: contain;
        -o-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;
}

header .wrapper div:last-child p {
        font-size: 1.2rem;
        line-height: 2em;
}

header div div {
        text-align: center;
}

/* ----- NAVIGATION ----- */

@media screen and (min-width: 768px) {

        nav {
                margin-top: 1.6em;
                align-content: center;
        }

        nav ul {
                text-align: center;
        }
}

@media screen and (min-width: 1024px) {

        nav {
                margin-top: 1.6em;
        }

        nav ul {
                text-align: right;
        }
}

nav {
        text-align: center;
}

header li {
        display: inline-block;
}


/* ----- FOOTER ----- */


@media screen and (min-width: 1024px) {
        footer {
                text-align: left;
        }
        
        footer ul {
                text-align: left;
        }
        
        footer a {
                padding-left: 0;
        }
}

footer {
        border-top: 10px solid #FFD8DB;
        text-align: center;
}

footer .row {
        justify-content: left;
}

footer li {
        margin: .8em 0;
        list-style: none;
}

footer p {
        font-size: 1.4rem;
        margin: 0;
        color:#00515D;
        font-weight: 700;
}

footer p:last-child {
        font-size: 1rem;
        font-weight: 400;
}


/* ----- ANCHORS ----- */

@media screen and (min-width: 1024px) {

}

a {
        text-decoration: none;
        font: 1.2rem 'Open Sans', sans-serif, 'Arial', sans-serif;
        font-weight: 400;
        padding: 0 .6em;
        background-color: #ffff;
}

a:hover {
        border-radius: 16px;
        color: #003833;
}

/* ----- SYSTEMS ----- */

@media screen and (min-width: 768px) {

        #systems {
                text-align: center;
                margin: 0 auto;
        }

        #systems div div {
                text-align: center;
                margin: 0 auto;
        }
}

@media screen and (min-width: 1024px) {

        #systems > .row section {
                align-content: flex-start;
        }

        #systems div div {
                text-align: center;
                margin: 0 auto;
        }
}


#systems > div {
        margin: 0 auto;
}

/* ----- TESTING ----- */

@media screen and (min-width: 1024px) {
        #testing {
                padding: 0;
                margin: 0;
        }

        #testing h2 {
                padding: 0;
                margin: 0;
        }

        #testing p:last-child {
                margin-bottom: 0;
        }

        #testing > div:first-child {
                background: url("../img/rainbow.jpg") no-repeat -9px -47px;
                background-size: auto;
                background-clip: border-box;
                -moz-background-size: contain;
                -webkit-background-size: contain;
                -o-background-size: contain;
                -ms-background-size: contain;
                background-size: contain;
                background-position: center;
                background-clip: border-box;
        }
}

#testing {
        padding-bottom: 2em;
}

#testing > div:first-child{
        background: url("../img/rainbow.jpg") no-repeat -3px 24px;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        background-position: center;
        background-clip: content-box;
}

/* ----- LAYOUT ----- */

@media screen and (min-width: 768px) {


        #layout > section:last-child {
                margin: 0 auto;
        }
}

@media screen and (min-width: 1024px) {
}

#layout > section:last-child {
        padding: 2em;
}

#layout section:last-child h2 {
        margin: .5em 0 .7em;
        font-size: 2.4rem;
}

/* ----- BENEFITS ----- */


@media screen and (min-width: 1024px){
        #benefits > div {
                margin: 0 auto;
        }
        
        #benefits section {
                text-align: left;
        }
}

#benefits > div{
        padding-bottom: 0;
}

#benefits > header {
        margin-bottom: 5em;
}

#benefits {
        text-align: center;
}

/*--------------------------------------------------------------
    7.0 - UTILITIES
-------------------------------------------------------------- */

.col-center {
        justify-content: center;
}

#pos-fixed {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
}
/* ----- ICONS ----- */

[class^="fa"] {
        font-size: 3.3rem;
        font-weight: 900;
        padding: .3em 0;
        color: #00515D;
}

.fa-bacteria,
.fa-atom,
.fa-dna {
        font-size: 1.9rem;
        padding: 0;
}

